.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input {
    width: 100%;
    padding: 1.2rem 0.3rem 0.4rem 0.3rem;
    font-size: 1.2rem;

    border: none;
    border-bottom: 0.1rem solid var(--black);

    background-color: transparent;
    transition: 0.4s;
    transform-origin: center;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 1.2rem 0.3rem 0.4rem 0.3rem;
    font-size: 1.2rem;
    pointer-events: none;
    transition: 0.3s;
}

.inputBox::before {
    content: "";
    width: 100%;
    height: 0.1rem;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;

    background-color: var(--red);
    transform: scale(0);
    transform-origin: center;
    transition: 0.4s;
}

.inputBox input:valid,
.inputBox input:focus {
    border-color: var(--orange);
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translate(-0.6rem, -1.5rem) scale(0.8);
    color: var(--orange);
}