<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global_style.css">
    <link rel="stylesheet" href="../static/css/animations.css">
    <link rel="stylesheet" href="../static/css/input.css">
    <link rel="stylesheet" href="../static/css/login-register.css">
    <title>Login</title>
</head>

<body>
    <aside>
        <img src="../static/img/login.gif" alt="">
    </aside>
    <main>
        <form action="" method="POST" enctype="multipart/form-data" style="animation: slideRight 0.8s linear;">
            <h1>Login</h1>

            <div class="inputBox">
                <input type="text" required>
                <span>Email</span>
            </div>

            <div class="inputBox">
                <input type="password" required>
                <span>Senha</span>
            </div>

            <button>Entrar</button>
            <span>Não tem conta? <a href="/register">Faça seu cadastro</a></span>
        </form>
    </main>

</body>

<script src=""></script>

</html>