@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', monospace;
}

:root {
    --cream: #F1EDE0;
    --white: #F5F5F5;
    --black: #0C0D0D;
    --gray: #4E5555;
    --orange: #C85311;
    --red: #eb0f02;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--cream);
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}