@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

body {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    max-height: 100vh;

    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    width: 35%;
}

main h1 {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    text-shadow: 0.1rem 0.1rem 0.3rem var(--gray);
    font-weight: 500;
    font-family: 'PT Serif', serif;
}

main p {
    margin: 2.5rem auto 2rem auto;
    font-family: 'PT Serif', serif;
    font-size: 2rem;
}

main .buttons {
    display: flex;
    gap: 1rem;
    width: 100%;
}

main .buttons button:nth-child(1) {
    width: 50%;
    border: 0.1rem solid var(--orange);
    background-color: var(--white);
    color: var(--black);
    border-radius: 0.5rem;

    font-size: 1.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;

    transition: color 0.6s, background 0.6s;
}

main .buttons button:nth-child(2) {
    width: 50%;
    background-color: var(--black);
    border: 0.1rem solid var(--black);
    color: var(--white);
    border-radius: 0.5rem;

    font-size: 1.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;

    transition: color 0.6s, background 0.6s;
}

main .buttons button:hover {
    border: 0.1rem solid var(--black);
    background-color: var(--orange);
    color: var(--white);
}

main .buttons button a {
    color: inherit;
}