body {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    max-height: 100vh;
}

aside {
    background-color: var(--black);
    min-width: 50%;
    padding: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

aside>img {
    border-radius: 50%;
    object-fit: contain;
    width: 100%;
}

main {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: transparent;
    padding: 2rem;

    width: 50%;
    height: 100%;
}

form h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

form button {
    width: 100%;
    background-color: var(--black);
    border: 0.1rem solid var(--black);
    color: var(--white);
    border-radius: 0.5rem;

    font-size: 1.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;

    transition: color 0.6s, background 0.6s;
}

form button:hover {
    border: 0.1rem solid var(--orange);
    background-color: var(--white);
    color: var(--black);
}

form span {
    font-size: 1rem;
    color: var(--gray);
}

form span a {
    color: var(--orange);

}